.register-container {
    text-align: center;
    background-color: #8BB795;
    margin-bottom: 20%;
}

.next-button {
    background: white;
    border: 2px solid var(--sage-green);
    color: var(--sage-green);
    padding: 0.5rem 2rem;
    border-radius: 25px;
    font-size: 1rem;
}