.input-group {
    margin-bottom: 1rem;
}

.input-with-icon {
    position: relative;
    border: 5px solid #F8B4B4;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background: white;
}

.input-with-icon input {
    width: 95%;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
}

.input-with-icon input::placeholder {
    color: #999;
}

.pencil-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: auto;
}