.popota-container {
  display: flex;
  align-items: center;
  //width: 100w;
  //height: 100%;
  justify-content: center;
}
.speech-bubble-img {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: white;
  font-size: 16px;
  background: #F18D9E;
  width:20vw
}
.speech-bubble-img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #F18D9E;
}

.popota-img {
  margin-left: -10px;

}
