.popota-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  transform: translateX(20px);


  & .bubble {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0em;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    background-color: #f18d9e;
    width: fit-content;
    max-width: 300px;
    border: 10px;
    border-radius: 10px;
    text-align: left;
  }

  & .bubble:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #f18d9e;
  }

  > img {
    height: clamp(30px, 21vh, 200px);
    width: auto;
  }
}
