.calender-container {
  //overflow: visible;
  overflow: hidden;
  border: 13px solid #5BC8AC;
  border-radius: 20px;
  margin-top: 30px;
  
}

.calender-container table {
  border-collapse: collapse;
  border: 20px solid white;
  background-color: white;
  border-radius: 0px;
  overflow: hidden;
}




.calender-container table td,
.calender-container table th {
  margin:0;
  padding: 0;
  border: 2px solid #D2D2D2;
  
}

.calender-container table th {
  width: 100px;
  border-bottom: 3px solid #5BC8AC;
  background-color: white;
  padding-top: 30px;
}

.calender-container table td {
  position: relative;
  
}

.calender-table-td-text {
  position: absolute;
  top: 5px;
  left: 1px;
  font-size: 3vw;
}

.calender-table-td {
  height: 5vh;
  background-color: white;
}
