
.chat-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    width: 100%;
    background-image:url("/img/popota.svg");
    background-repeat: no-repeat;
    background-position: left 0em bottom 3em;
    background-attachment: fixed;
    background-size: 130vw;
  }
  
  .background-popota{
    position:absolute;

  }

  .user-chat-area {

    background-color: #F18D9E;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 0.4em 0 auto;
    max-width: 40%;
    width:fit-content;
  }
  
  .ai-chat-area {
    //align-self: flex-start;
    background-color: rgb(103, 255, 103);
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    margin:0 auto 0 0.4em;
    max-width: 40%;
    width:fit-content;
  }
  
 .messages-list{
  width: 100%; 
  margin-top:3px;
  
 }
 .send-area{
  position:fixed;
  bottom:2rem;
  float:left;
 }
 .sendbutton{
 
 }


