.home-page{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-contents{
    margin-top: 0.5rem;
}

.plant-name{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}


.plant-name-text{
    display: flex;
    font-size: x-large;
    font-weight: bold;
    color: #5BC8AC;
    text-decoration: underline;
    text-decoration-color: #5BC8AC;
}


.condition-box{
    display: flex;
    margin:auto;
    padding: 1%;
    color: hsl(0, 0%, 100%);
    background: #5BC8AC;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-bottom: solid 2px #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: clamp(20px, 10vh, 150px);
    flex-flow: column;
}

.condition-text{
    font-weight: bold;
    font-size: x-large;
}

.home-status-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items:center ;
    margin:auto;
    margin-top: 3%;
    padding: 0.5%;
    color: hsl(0, 0%, 100%);
    background: #5BC8AC;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 85%;
    height: clamp(20px, 8vh, 150px);
    /* display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; */
}
.home-status-box p {
    position: relative;
    margin: auto; 
    padding: 0;
}

.box-status-text{
    font-weight: bold;
    justify-self: end;
    align-self: end;
    padding-right: 3%;
}

.box-percent-text{
    font-weight: bold;
    font-size: 180%;
    padding-left: 5%;

    /* right: -1rem;
    justify-content: flex-end;
    align-items: flex-end; */
}

.box-svg{
    padding-top: 3%;
    padding-left: 5%;
    display: table-cell; 
    text-align: left;

    & svg {
        height: 3rem;
        width: auto;
    }
}

.bottom{
    position: fixed;
    bottom: 5%;
    width: 100%;
}