body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}
.slider-title {
  //font-size: 8vw;
  //font-weight: bold;
  //text-align: center;
  //color: #5bc8ac;
  //padding-top: 7vw;

}
.calender-title {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  flex-flow: column;
  border-radius: 10px;
}

.square-left {
  width: 6vw;
  height: 60px;
  border: 8px solid #5bc8ac;
  background-color: white;
  position: absolute;
  left: 25vw;
  z-index: 70;
  border-radius: 10px;
}
.square-right {
  width: 6vw;
  border: 8px solid #5bc8ac;
  height: 60px;
  background-color: white;
  position: absolute;
  right: 25vw;
  z-index: 70;
  border-radius: 10px;
}

.square-top {
  background-color: #5bc8ac;
  width: 75%;
  height: 40px;
  top: 50px;
  position: absolute;
  border-radius: 10px;
  z-index: 60;
}

.calender-title-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.calender-title-text {
  font-size: 20px;
  font-weight: bold;
  paint-order: stroke;
  color: white;
}

.form {
  position: relative;
  display: flex;
  z-index: 50;
  width: 100%;
}

.slider-prev-button {
  padding-right: 10px;
}
.slider-next-button {
  padding-left: 10px;
}
.popota {
  position: absolute;
  bottom: 30px;
  right: 0px;
  width: 100vw;
  margin: 0 auto;
  zindex: 200;
}
