.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* 中央寄せのため */
  width: 80%; /* 画面幅の80%に設定 */
  max-width: 500px; /* 最大幅を設定 */
  background-color: #FFC0CB; /* ピンク色の背景 */
  padding: 10px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; /* 中央寄せの補助 */
}

.footer-button {
  background-color: #98D8BF; 
  border-radius: 12px;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px; /* ボタン間の間隔を調整 */
}