body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //overflow: hidden;
}

.calender-title-text {
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
  -webkit-text-stroke: 6px #719860;
  text-stroke: 2px #719860;
  paint-order: stroke;
  color: white;
}

table {
  border-collapse: separate;
  border-spacing: 13px;
}

.calender-table-thead-tr {
  background-color: #B4ECA9;
  color:white;
}

table th,
table td {
  border: 1px solid #000;
  width: 100px;
}

table td {
  position: relative;
}

.calender-table-td-text {
  position: absolute;
  top: 5px;
  left: 1px;
  font-size: 3vw;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px black;
  paint-order: stroke;
  color: #B4ECA9;
}

.calender-table-td-even {
  
  height: 10vw;
  background-color: #B4ECA9;
}

.calender-table-td-odd {

  height: 14vw;
  background-color: #A9E7EC;
}

.calender-title {
  border: 5px solid #719860;
  padding: 0 10px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  flex-flow: column;
  border-radius: 10px;
}

.slider-title {
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  color: #2f861e;
  margin-top: 30px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  
  
}
.form {
  position: relative;
  display: flex;
  z-index: 50;
  width: 100%;
}

.slider-prev-button{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.slider-next-button{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}