

.calender-title-text {
  font-size: 20px;
  font-weight: bold;
  
}

table {
  border-collapse: separate;
  border-spacing: 13px;
}

table th,
table td {
  border: 1px solid #000;
  width: 100px;
}

table td {
  text-align: center;
  height: 80px;
}

.calender-title {
  border: 1px solid #000;
  padding:0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  flex-flow: column;
}

.slider-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #2F861E;
}